<!DOCTYPE html><!--[if lt IE 7 ]> <html lang="en" class="ie6"> <![endif]--><!--[if IE 7 ]> <html lang="en" class="ie7"> <![endif]--><!--[if IE 8 ]> <html lang="en" class="ie8"> <![endif]--><!--[if IE 9 ]> <html lang="en" class="ie9"> <![endif]--><!--[if (gt IE 9)|!(IE)]><!-->
  <html lang="en"><!--<![endif]-->
<head>
  

    <title>VHA Innovation Ecosystem - VHA Innovation Ecosystem Team</title>
    <meta name="description"
        content="VHA Innovation Ecosystem Team is the catalyst and driving force that enables the discovery and spread of health care innovations within the Veterans Health Administration">
    <meta name="keywords" content="">


    <!-- High Level meta data -->
   <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cache-control" content="no-cache, must-revalidate, post-check=0, pre-check=0" />
  <meta http-equiv="cache-control" content="max-age=0" />
  <meta http-equiv="expires" content="0" />
  <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
  <meta http-equiv="pragma" content="no-cache" />
 <script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?ver=true&amp;agency=VA"></script>
    <!-- Links -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/INNOVATIONECOSYSTEM/assets/uswds-2-0-3/css/uswds.css">
    <link rel="stylesheet" href="/INNOVATIONECOSYSTEM/assets/css/main.css">
    <!-- custom hero slider -->
    <link rel="stylesheet" href="/INNOVATIONECOSYSTEM/assets/css/slick.css">
    <link rel="stylesheet" href="/INNOVATIONECOSYSTEM/assets/css/slick-theme.css">
    <link rel="stylesheet" href="/INNOVATIONECOSYSTEM/assets/fontawesome-free-5-11-1-web/css/all.css">

    <!-- JS Scripts -->
    <script type="text/javascript" src="/INNOVATIONECOSYSTEM/assets/uswds-2-0-3/js/uswds.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- custom hero slider -->
    <script type="text/javascript" src="/INNOVATIONECOSYSTEM/assets/js/slick.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

   

</head>

	<body >
       <script>
        $(function () {
            $("#header").load("/INNOVATIONECOSYSTEM/partials/header.html");
            $("#footer").load("/INNOVATIONECOSYSTEM/partials/footer.html");
        });
    </script>

    <div id="header"></div>
     <main id="main-content" role="main">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- breadcrumb  -->
        <!-- <div style="background-color:  #eee;">
            <ul class=" grid-container breadcrumb">
                <li><a href="#">Home</a></li>
                <li>Who We Are</li>

                <li>National Center for Collaborative Healthcare Innovation</li>
            </ul>
        </div> -->


        <!-- introduction  -->

        <section class="usa-section small-padding padding-bottom-3 " style="background-color: #174479!important;">
            <div class="grid-container padding-3">

                <div class="grid-row grid-gap-4" style="text-align: center;">




                    <h1 class="font-heading-xl padding-top-0 padding-bottom-0 text-white" style="text-align: left;">
                        What is the VHA Innovation Ecosystem?
                    </h1>

                    <div class="tablet:grid-col-5 text-left padding-top-1 ">


                        <p class="font-body-md  text-white" style="font-size: 20px;
                        line-height: 1.7;
                        letter-spacing: .6px;">
                            Veterans Health Administration Innovation Ecosystem (VHA IE) is the catalyst for enabling
                            the discovery and spread of mission-driven health care innovation to advance care delivery
                            and service that exceeds expectations, restores hope, and builds trust within the Veteran
                            community.
                        </p>
                        <div>
                            <img src="/innovationecosystem/assets/images/IEX/iex-2021/rebranding/Logo_IE_White.png" style="width: 70%;"
                                alt="ie logo">
                        </div>
                    </div>
                    <div class="tablet:grid-col-7 padding-top-0">
                        <iframe class="oneshadow image-thumbnail" width="100%" height="315"
                            src="https://www.youtube.com/embed/Q2I8f-D8HVs" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>


                    </div>
                </div>

            </div>
        </section>
        <section style="background:#c9e9ed;">
            <svg viewBox="0 0 422 20.98" preserveAspectRatio="none"
                style="background:#c9e9ed;margin-top:0;padding-top: 0;">

                <defs>
                </defs>

                <g>
                    <polygon class=" fl-shape" style="background:#c9e9ed;fill:#174479 " points="0,0 422,0 422,20">
                    </polygon>
                </g>
            </svg>
        </section>

        <!-- svg image bottom  -->
        <!-- <svg class="fl-builder-layer-align-top-center" viewBox="0 0 422 33.98" preserveAspectRatio="none" style="background:#c9e9ed;">

            <defs>
                    </defs>
    
            <g class="fl-shape-content">
                <polygon class="fl-shape" style="background:#c9e9ed;fill:#52c7d0" points="0,0 422,0 422,20"></polygon>
            </g>
        </svg> -->
        <!-- main boxes leader  -->
        <section
            class="  small-padding margin-bottom-3 padding-bottom-3 margin-bottom-0 hero-standard hero-noimage hero-dark-background"
            style="background:rgb(201, 233, 237);margin-top: 0 !important;padding-bottom:20px;padding-top: 0 !important;">

            <div class="grid-container ">
                <div class="grid-row grid-gap-2">
                    <div class="tablet:grid-col">
                        <h2 class="font-heading-xl text-dark" style="margin-top:0 !important;">
                            Meet Our Leadership
                        </h2>
                    </div>
                </div>

            </div>


            <div class="grid-container">
                <div class="grid-row grid-gap padding-top-2 padding-bottom-2 usa-card-group">
                    <!-- 1   -->
                    <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2 box-me margin-top-2"
                        style="box-shadow: 0px 5px 6px -6px black;">
                        <a href="/innovationecosystem/innovationecosystem/views/who-we-are/biograph.html#ryan" class="text-dark"
                            target="-blank">

                            <div class="usa-card__container">


                                <div class="usa-card__media usa-card__media--inset">
                                    <div class="tablet:grid-col-12  flex-align-center text-center">

                                        <img class="text-center height-15 flex-align-center  "
                                            src="/innovationecosystem/assets/images/team-headshots/VEGA_CIRCLE.png" alt="Dr. Ryan Vega
                                    Chief Officer, Office of Healthcare Innovation and Learning  ">


                                    </div>
                                    <header class="usa-card__header">
                                        <h4 class="usa-card__heading text-center f17" style="color: #004b87;"> Ryan
                                            Vega, MD, MSHA <br> <br> Chief Officer, Office of Healthcare Innovation and
                                            Learning
                                        </h4>
                                    </header>
                                </div>



                            </div>
                        </a>


                    </div>


                    <!-- 22 -->
                    <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2 box-me margin-top-2"
                        style="box-shadow: 0px 5px 6px -6px black;">
                        <a href="/innovationecosystem/views/who-we-are/biograph.html#Beth" class="text-dark" target="-blank">

                            <div class="usa-card__container">


                                <div class="usa-card__media usa-card__media--inset">
                                    <div class="tablet:grid-col-12  flex-align-center text-center">

                                        <img class="text-center height-15 flex-align-center  "
                                            src="/innovationecosystem/assets/images/team-headshots/RIPLEY_CIRCLE.png" alt="Beth Ripley, MD, PhD
                                            ">


                                    </div>
                                    <header class="usa-card__header">
                                        <h4 class="usa-card__heading text-center f17" style="color: #004b87;"> Beth
                                            Ripley, MD, PhD
                                            <br> <br> Deputy Chief, Office of Healthcare Innovation and Learning

                                        </h4>
                                    </header>
                                </div>



                            </div>
                        </a>


                    </div>

                    <!-- 33   -->
                    <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1  padding-bottom-2 box-me margin-top-2"
                        style="box-shadow: 0px 5px 6px -6px black;">
                        <a href="/innovationecosystem/views/who-we-are/biograph.html#kris" class="text-dark" target="-blank">

                            <div class="usa-card__container">


                                <div class="usa-card__media usa-card__media--inset">
                                    <div class="tablet:grid-col-12  flex-align-center text-center">

                                        <img class="text-center height-15 flex-align-center  "
                                            src="/innovationecosystem/assets/images/team-headshots/TEAGUE_CIRCLE.png" alt="Kristopher Teague
                                 Executive Director, VHA Innovation Ecosystem">


                                    </div>
                                    <header class="usa-card__header">
                                        <h4 class="usa-card__heading text-center f17" style="color: #004b87;">
                                            Kristopher "Kit" Teague <br>
                                            <br> Executive Director, VHA Innovation Ecosystem
                                        </h4>
                                    </header>
                                </div>



                            </div>
                        </a>


                    </div>
                </div>




            </div>


        </section>


        <section class="  small-padding margin-bottom-3 padding-bottom-3 margin-bottom-0 padding-top-0 margin-top-0"
            style="background: #c9e9ed;margin-top: 0 !important;padding-bottom:20px;padding-top: 0 !important;">


            <div class="grid-container">
                <div class="grid-row grid-gap-3" style="text-align:center;">

                    <!-- right side -->
                    <div class="tablet:grid-col-12">
                        <div class="usa-accordion">
                            <!-- VHA innovators Network Leadership -->
                            <h2 class="usa-accordion__heading">
                                <button class="usa-accordion__button oneshadow" aria-expanded="false" aria-controls="a1"
                                    style=" background-color: #52c7d0 ;">
                                    VHA Innovators Network
                                </button>
                            </h2>
                            <div id="a1" class="usa-accordion__content usa-prose">
                                <div class="grid-row grid-gap-3" style="text-align:center;">
                                    <div class="grid-row grid-gap-2" style="text-align:center;">
                                        <!-- logo -->
                                        <div class="tablet:grid-col-4 display-flex flex-column flex-justify-center">
                                            <a href="#">
                                                <img src="/innovationecosystem/assets/images/IEX/iex-2021/rebranding/Logo_iNET_Color.png"
                                                    alt="" height="" width="">
                                            </a>
                                        </div>
                                        <!-- allison amrhein info -->
                                        <div class="tablet:grid-col-8">

                                            <a href="/innovationecosystem/views/who-we-are/biograph.html#alli"> <img
                                                    style="padding-bottom: 0.5rem;" class=" h100"
                                                    src="/innovationecosystem/assets/images/team-headshots/AMRHEIN_CIRCLE.png"
                                                    alt="Allison Amrhein, MPH, Director of Operations, VHA Innovators Network">
                                                <h3 class="margin-y-0 font-heading-md"><strong>Allison Amrhein,
                                                        MPH</strong></h3>
                                            </a>
                                            <p style="color: black !important;">Director of Operations, <br>VHA
                                                Innovators Network</p>
                                        </div>
                                        <!--  brynn cole info -->
                                        <!-- <div class="tablet:grid-col-4"> <a href="/innovationecosystem/views/who-we-are/biograph.html#bryn">
                                                <img style="padding-bottom: 0.5rem;" class=" h100"
                                                    src="/innovationecosystem/assets/images/team-headshots/COLE_CIRCLE.png" width=""
                                                    alt="Brynn Cole, Director of Programming, VHA Innovators Network">
                                                <h3 class="margin-y-0 font-heading-md"><strong>Brynn Cole</strong></h3>
                                                <p style="color: black !important;">Director of Programming, <br>VHA
                                                    Innovators Network</p>
                                            </a>

                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <!-- Diffusion of Excellence Leadership -->
                            <h2 class="usa-accordion__heading">
                                <button class="usa-accordion__button oneshadow" aria-expanded="false" aria-controls="a2"
                                    style=" background-color: #52c7d0 ;">
                                    Diffusion of Excellence
                                </button>
                            </h2>
                            <div id="a2" class="usa-accordion__content usa-prose">
                              
                                    <div class="grid-row grid-gap-2" style="text-align:center;">
                                        <!-- logo -->
                                        <div class="tablet:grid-col-4 display-flex flex-column flex-justify-center">
                                            <a href="#">
                                                <img src="/innovationecosystem/assets/images/IEX/iex-2021/rebranding/DoE_Logo.png"
                                                    alt="" height="" width="">
                                            </a>
                                        </div>
                                        <div class="tablet:grid-col-8"> <a href="/innovationecosystem/views/who-we-are/biograph.html#blake">
                                            <img style="padding-bottom: 0.5rem;" src="/innovationecosystem/assets/images/team-headshots/HENDERSON_CIRCLE.png" class=" h100" alt="Blake Henderson, Acting Director, Diffusion of Excellence">
                                            <h3 class="margin-y-0 font-heading-md"><strong>Blake Henderson</strong>
                                            </h3>
                                            <p style="color: black !important;">Director, Diffusion of Excellence
                                            </p>
                                        </a>

                                    </div>
                                        <!--  brynn cole info -->
                                        
                                    
                                </div>
                            </div>
                            <!-- C&T initiatives leadership -->



                            <!-- NCII  -->
                            <h2 class="usa-accordion__heading">
                                <button class="usa-accordion__button oneshadow" aria-expanded="false" aria-controls="a4"
                                    style=" background-color: #52c7d0 ;">
                                    National Centers for Innovation to Impact
                                </button>
                            </h2>
                            <div id="a4" class="usa-accordion__content usa-prose">


                                <div class="grid-row g" style="text-align:center;">
                                    <!-- logo -->
                                    <!-- logo -->
                                    <div class="tablet:grid-col-4 display-flex flex-column flex-justify-center">

                                        <img src="/innovationecosystem/assets/images/IEX/iex-2021/rebranding/NCi2I_Stacked2.png"
                                            alt="NcI2I LOGO">

                                    </div>

                                    <!--thom info -->
                                    <div class="tablet:grid-col-4"> <a href="/innovationecosystem/views/who-we-are/biograph.html#tom">
                                            <img style="padding-bottom: 0.5rem; "
                                                src="/innovationecosystem/assets/images/NCCHI/OSBOURNE_CIRCLE.png" class="h100"
                                                alt="Director of Partnerships & Community Engagement" width="">
                                            <h3 class="margin-y-0 font-heading-md"><strong>Thomas Osborne, MD
                                                </strong></h3>
                                            <p style="color: black !important;">Director, National Center for
                                                Collaborative Healthcare Innovation</p>
                                        </a>

                                    </div>
                                    <!--beth info -->
                                    <div class="tablet:grid-col-4"> <a href="/innovationecosystem/views/who-we-are/biograph.html"> <img
                                                style="padding-bottom: 0.5rem; "
                                                src="/innovationecosystem/assets/images/team-headshots/RIPLEY_CIRCLE.png" class="h100"
                                                alt="VA Ventures Director, Beth Ripley, MD, PhD" width="">
                                            <h3 class="margin-y-0 font-heading-md"><strong>Beth Ripley, MD, PhD
                                                </strong></h3>
                                            <p style="color: black !important;">Deputy Chief Officer, Office of
                                                Healthcare Innovation and Learning</p>
                                        </a>

                                    </div>
                                </div>

                            </div>


                        </div>




                    </div>
                </div>
            </div>


        </section>



        <!-- news/awars/interview section background-image:url(/innovationecosystem/assets/images/ncchi/world.jpg);-->
        <section class="usa-section small-padding usa-section  padding-top-0 padding-bottom-0">
            <svg viewBox="0 0 422 20.98" preserveAspectRatio="none"
                style="background: #ffffff;margin-top:0;padding-top: 0;">

                <defs>
                </defs>

                <g>
                    <polygon class=" fl-shape" style="background: #ffffff;fill: #c9e9ed;" points="0,0 422,0 422,20">
                    </polygon>
                </g>
            </svg>
            <div class="grid-container">
                <div class="grid-row margin-top-3 margin-bottom-3">
                    <div class="tablet:grid-col">
                        <h3 class="font-heading-xl text-dark">
                            Creating a Repeatable Process for Innovation
                        </h3>
                        <h4 class="font-body-lg  padding-bottom-205 text-left">
                            VHA IE created a repeatable pathway to support the entire lifecycle of innovation, from
                            discovery through delivery
                        </h4>
                        <img class="width-100" src="/innovationecosystem/assets/images/iNET/VHA_Operational_Model_r11.png"
                            alt="repeatable process">
                    </div>

                </div>

                <!-- <div id="news-events-navigation" class="grid-col-3"></div> -->

            </div>
        </section>

        <!-- image gray top SVG  -->
        <section style="background:white;">
            <svg viewBox="0 0 422 33.98" preserveAspectRatio="none"
                style="background:#f0f0f0;margin-top:0;padding-top: 0;">



                <g class="fl-shape-content" style="fill: white;">
                    <polygon class="fl-shape" points="0,34 422,0 0,0"></polygon>
                </g>
            </svg>
        </section>


        <!-- 2nd quoat of thom -->
        <section class="usa-section small-padding usa-section  "
            style="background: #f0f0f0;box-shadow: black 0px 8px 6px -6px;margin-top: -10px;">
            <div class="grid-container">

                <!-- style="box-shadow: 0px 5px 6px -6px black;" -->
                <div class="grid-row grid-gap-2 border-gray bg-white">


                    <div class="grid-row ">

                        <div class="tablet:grid-col text-left"
                            style="color: #004b87;border-bottom: .125rem dotted #52c7d0;">
                            <h3 class="text-left">
                                Resources & Publications
                            </h3>


                        </div>

                    </div>



                    <p class="padding-top-5   bg-white margin-2">
                        VHA iNET Annual Report 2020 <br>
                        <a href="/innovationecosystem/assets/documents/iNET_Report_2020_FINAL_12.17.20_508-Final.pdf">
                            <strong>2020 delivered a year like no other for the entire world. For health care providers,
                                including those at the Veterans Health Administration (VHA), new unparalleled challenges
                                arose nearly every day.</strong></a>
                        <br><br>

                        VHA iNET Annual Report 2019 <br> <a
                            href="https://www.va.gov/INNOVATIONECOSYSTEM/innovationecosystem/assets/documents/iNET_Report_2019.pdf"><strong>In
                                2019,
                                iNET navigated through a year of change and restructuring, during which we have evolved
                                into a stronger, smarter, and more confident organization. </strong></a>

                        <br>




                    </p>
                </div>

            </div>
        </section>


        <!-- quoat of thom -->
        <section class="usa-section small-padding usa-section padding-bottom-3 "
            style="background: #f0f0f0;box-shadow: 0px 5px 6px -6px black;">
            <div class="grid-container">
                <div class="grid-row grid-gap-2 border-gray bg-white" style="box-shadow: 0px 5px 6px -6px black;">
                    <div class="tablet:grid-col-3 display-flex flex-column flex-justify-center">
                        <img class="usa-media-block__img    " style="border-radius: 5%;"
                            src="/innovationecosystem/assets/images/IEX/iex-2021/rebranding/FC_2021BestworkplacesInnovator_StandardLogo.png"
                            alt="VHA Innovators Network Logo">
                    </div>
                    <div class="tablet:grid-col-9 ">
                        <p class="font-body-sm margin-0 padding-left-3" style="padding-top: 15px;">
                            <strong>Fast Company’s Best Workplaces for Innovators </strong>


                        <blockquote>
                            Fast Company’s Best Workplaces for Innovators
                            celebrates companies that are successfully fostering cultures of innovation and empowering
                            employees at all levels to improve processes, create new products, or invent new ways of
                            doing business. In August of 2021, VHA IE made the 2021 Best Workplaces for Innovators list
                            for its ability to foster and operationalize innovation, build workforce capacity, and
                            impact Veteran lives. <br><br>

                            VHA IE was recognized for multiple innovations and projects that impacted services for
                            Veterans at VA hospitals nationwide, its ability to creatively adapt during the COVID-19
                            pandemic, its programmatic elements that help to cultivate a culture of innovation within
                            VHA, and its ground-up approach to advancing innovation through frontline employees. By
                            cultivating critical capabilities to operationalize innovation in a health care setting, VHA
                            IE has: <br> <br>
                            <ul>
                                <li>Engaged more than 150 VA facilities in identifying and scaling innovation
                                </li>
                                <li>Trained over 25,000 employees in innovation competencies and implementation methods
                                </li>
                                <li>Impacted more than 1 million Veterans with innovations developed through VHA IE</li>
                                <li>Avoided over $40 million in unnecessary costs through the innovations and practices
                                    advanced
                                    by VHA IE</li>



                            </ul>







                        </blockquote>
                    </div>

                </div>
            </div>
        </section>



    </main>
    <div id="footer"></div>
    <!-- <script type="text/javascript" src="/assets/js/slick.js"></script>   -->
</body>

</html>