<!DOCTYPE html><!--[if lt IE 7 ]> <html lang="en" class="ie6"> <![endif]--><!--[if IE 7 ]> <html lang="en" class="ie7"> <![endif]--><!--[if IE 8 ]> <html lang="en" class="ie8"> <![endif]--><!--[if IE 9 ]>
  <html lang="en" class="ie9"> <![endif]--><!--[if (gt IE 9)|!(IE)]><!-->
    <html lang="en"><!--<![endif]-->
<head>
  

    <title>VHA Innovation Ecosystem</title>
    <meta name="description"
        content="VHA Innovation Ecosystem Team is the catalyst and driving force that enables the discovery and spread of health care innovations within the Veterans Health Administration">
    <meta name="keywords" content="">


    <!-- High Level meta data -->
   <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cache-control" content="no-cache, must-revalidate, post-check=0, pre-check=0" />
       <meta http-equiv="pragma" content="no-cache" />
  <meta http-equiv="cache-control" content="max-age=0" />
  <meta http-equiv="expires" content="0" />
  <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
 

    <!-- Links -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.css">
    <link rel="stylesheet" href="/INNOVATIONECOSYSTEM/assets/uswds-2-0-3/css/uswds.css">
    <link rel="stylesheet" href="/INNOVATIONECOSYSTEM/assets/css/main.css">
    <link rel="stylesheet" href="/INNOVATIONECOSYSTEM/assets/fontawesome-free-5-11-1-web/css/all.css">

    <!-- JS Scripts -->
    <script type="text/javascript" src="/INNOVATIONECOSYSTEM/assets/uswds-2-0-3/js/uswds.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
    </script>
    <script>
        $(function () {
            $("#header").load("/INNOVATIONECOSYSTEM/partials/header.html");
            $("#footer").load("/INNOVATIONECOSYSTEM/partials/footer.html");
        });
    </script>
</head>


    
<body>

    <div id="header"></div>
        <main id="main-content" role="main">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


        <!-- first banner  -->
        <section class="usa-section small-padding padding-bottom-3 padding-top-0 text-dark" style="background-color: #dfe5e8 !important;">
            <div class="text-center padding-5 margin-0">
                <img src="/innovationecosystem/assets/images/IEX/Lead-In_Equity_1.png" style="width: 100%;
                height: auto;" alt="VHA-iEX_Website_Header-banner">
                <div class=" padding-2 oneshadow text-center" style="background:#1e478e">
                    <a class="btn-me-iex " href="https://vhaie.regfox.com/vhaiex2021" target="_blank"
                        style="background: #1e478e; color: white ;">
                        <h2 class="padding-0 margin-0"> REGISTER NOW <i class="far fa-play-circle text-white"> </i></h2>
                    </a>
                </div>
               
            </div>
            <div class="grid-container padding-3 text-dark">

                <div class="grid-row grid-gap-4">
                    <div class="tablet:grid-col-12 text-left padding-top-1 ">
                        <h1 class="font-heading-xl padding-top-0 padding-bottom-0 " style="text-align: left;color: #1e468e !important;">
                            Breaking Boundaries: Using Innovation to Advance Health Equity
                        </h1>
                    </div>
                    <div class="tablet:grid-col-3 text-left  ">
                        <div class="usa-card__img  ">
                            <img class=" height-15 padding-top-0" src="/innovationecosystem/assets/images/IEX/iex-2021/ICON_Equity.png" alt="iEX icon">
                        </div>
                    </div>


                    <div class="tablet:grid-col-9 text-left  ">
                        <!-- <h3 class="font-heading-l padding-top-0 padding-bottom-0 text-white">What is the VHA Innovation
                            Experience (iEX)?
                            <br> </h3> -->

                        <p class="font-body-md padding-top-3" style="font-size: 20px;
                        line-height: 1.7;
                        letter-spacing: .6px;">
                           Innovation can advance health equity and create the conditions in which everyone has an equal opportunity to live longer, healthier lives.
                        </p>
                    </div>
                   
                   
                </div>

            </div>
        </section>

        <section class=" usa-section--dark small-padding margin-bottom-3  
        hero-standard hero-noimage hero-dark-background padding-5"
            style="background: #e0f1f1;">

           


            <div class="grid-container">




                <div class="grid-row grid-gap-2 border-gray bg-white" style="box-shadow: 0px 5px 6px -6px black;">


                    <!-- <div class="grid-row margin-top-3 ">

                        <div class="tablet:grid-col text-left"
                            style="color: #004b87;border-bottom: .125rem dotted #7fcfcf;">
                            <h2 class="font-heading-xl text-dark" style="margin-top:0 !important;">
                                Breaking Boundaries: Using Innovation to Advance Health Equity
                            </h2>
                        </div>

                        <p class="font-body-md text-dark"> <br>

                            Innovation can advance health equity and create the conditions in which everyone has an equal opportunity to live longer, healthier lives. 

 
                        </p>




                    </div> -->
                    <div class="grid-row margin-bottom-3 margin-top-3 grid-row grid-gap-2 padding-top-4 bg-white">
                        <div class="tablet:grid-col-12 margin-bottom-3"
                            style="color: #004b87;border-bottom: .125rem dotted #7fcfcf;">
                            <h4 class="usa-card__body padding-0 f14 " style="margin-top:0 !important;">
                                Moderator/Panelists
                            </h4>

                        </div>

                        <div class="tablet:grid-col-12 ">
                            <table class="usa-table usa-table--borderless text-dark">
                                <caption style="color: #7fcfcf;">
                                </caption>



                                <tbody>
                                    <tr>

                                        <th scope="row" style="border-color:white"> <img
                                                class=" flex-align-center  image-thumbnail oneshadow "
                                                src="/innovationecosystem/assets/images/IEX/Moy_K.jpeg" style="width: 70%;" alt="">
                                        </th>
                                        <td style="border-color:white"> <strong>Moderator</strong> <br>
                                            Ernest Moy, MD, MPH, Executive Director, Office of Health Equity, VHA  
                                            <a href="/innovationecosystem/views/news-events/event-bio.html#moy" target="_blank">
                                                <small class="text-dark"> Learn more
                                                    »</small>

                                            </a>
                                        </td>


                                    </tr>

                                    <tr>

                                        <th scope="row" style="border-color:white"> <img
                                                class=" flex-align-center  image-thumbnail oneshadow "
                                                src="/innovationecosystem/assets/images/IEX/Bhatt_BW.png" style="width: 70%;" alt="">
                                        </th>
                                        <td style="border-color:white"> <strong>Panelist</strong> <br>
                                            Jay D. Bhatt DO, MPH, MPA, FACP , Chief Clinical Product Officer and Medical
                                            Director, Medical Home Network/MoreCare
                                            <a href="/innovationecosystem/views/news-events/event-bio.html#bhatt" target="_blank">
                                                <small class="text-dark"> Learn more
                                                    »</small>

                                            </a>
                                        </td>


                                    </tr>
                                    <tr>

                                        <th scope="row" style="border-color:white"> <img
                                                class=" flex-align-center  image-thumbnail oneshadow "
                                                src="/innovationecosystem/assets/images/IEX/Nguyen_BW.png" style="width: 70%;" alt=""> </th>
                                        <td style="border-color:white"> <strong> Panelist</strong> <br>
                                            Freddy T. Nguyen, MD, PHD Research Fellow, Massachusetts Institute of
                                            Technology (MIT) and Resident Physician, Mount Sinai Hospital

                                            <a href="/innovationecosystem/views/news-events/event-bio.html#freddy" target="_blank">
                                                <small class="text-dark"> Learn more
                                                    »</small>

                                            </a>
                                        </td>


                                    </tr>
                                    <tr>

                                        <th scope="row" style="border-color:white"> <img
                                                class=" flex-align-center  image-thumbnail oneshadow "
                                                src="/innovationecosystem/assets/images/IEX/Schwab_BW.png" style="width: 70%;" alt=""> </th>
                                        <td style="border-color:white"> <strong> Panelist</strong> <br>
                                            Steven Schwab CEO, Elizabeth Dole Foundation
                                            <a href="/innovationecosystem/views/news-events/event-bio.html#steven" target="_blank">
                                                <small class="text-dark"> Learn more
                                                    »</small>

                                            </a>
                                        </td>


                                    </tr>
                                    <tr>

                                        <th scope="row" style="border-color:white"> <img
                                                class=" flex-align-center  image-thumbnail oneshadow "
                                                src="/innovationecosystem/assets/images/IEX/Simpson_K.jpeg" style="width: 70%;" alt="">
                                        </th>
                                        <td style="border-color:white"> <strong> Panelist</strong><br>
                                            Lisa Simpson, MB, BCh, MPH, FAAP President and Chief Executive Officer,
                                            AcademyHealth
                                            <a href="/innovationecosystem/views/news-events/event-bio.html#lisa" target="_blank">
                                                <small class="text-dark"> Learn more
                                                    »</small>

                                            </a>
                                        </td>


                                    </tr>


                                </tbody>
                            </table>
                        </div>
                        <!-- <article class="article-summary image-align-right" >

                        <div class="article-summary-cta" style="background-color: #85afaf;">
                            <div class="summary-cta">
                               <h2 class="summary-cta-title text-white">Subscribe to the Enrollment Blog</h2> 
        
                                <div class="summary-cta-description text-white">
                                    Collaboration between the entrepreneur community and VA can help solve industry challenges and address needs that transcend boundaries to impact Veteran lives. </div>
        
                                <a class="summary-cta-link button-arrow button-arrow-filled external-link  margin-top-3" style="padding-top: 50px;"
                                     target="_blank"
                                    >
                                    Register </a>
                            </div>
                        </div> 
        
        
                    </article>    -->






                    </div>
                </div>
            </div>
        </section>













    </main>
    <div id="footer"></div>

    
</body>

</html>