<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6"> <![endif]--><!--[if IE 7 ]> <html lang="en" class="ie7"> <![endif]--><!--[if IE 8 ]> <html lang="en" class="ie8"> <![endif]--><!--[if IE 9 ]> <html lang="en" class="ie9"> <![endif]--><!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>


    <title>VHA Innovation Ecosystem - VHA Innovation Ecosystem Team</title>
    <meta name="description"
          content="VHA Innovation Ecosystem Team is the catalyst and driving force that enables the discovery and spread of health care innovations within the Veterans Health Administration">
    <meta name="keywords" content="">


    <!-- High Level meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cache-control" content="no-cache, must-revalidate, post-check=0, pre-check=0" />
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?ver=true&amp;agency=VA"></script>
    <!-- Links -->
    <link id="favicon" rel="shortcut icon" href="/INNOVATIONECOSYSTEM/assets/images/favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/INNOVATIONECOSYSTEM/assets/uswds-2-0-3/css/uswds.css">
    <link rel="stylesheet" href="/INNOVATIONECOSYSTEM/assets/css/main.css">
    <!-- custom hero slider -->
    <link rel="stylesheet" href="/INNOVATIONECOSYSTEM/assets/css/slick.css">
    <link rel="stylesheet" href="/INNOVATIONECOSYSTEM/assets/css/slick-theme.css">
    <link rel="stylesheet" href="/INNOVATIONECOSYSTEM/assets/fontawesome-free-5-11-1-web/css/all.css">

    <!-- JS Scripts -->
    <script type="text/javascript" src="/INNOVATIONECOSYSTEM/assets/uswds-2-0-3/js/uswds.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- custom hero slider -->
    <script type="text/javascript" src="/INNOVATIONECOSYSTEM/assets/js/slick.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <style>
        .slick-dots {
            position: absolute;
            bottom: -25px;
            display: block;
            width: 100%;
            padding: 0;
            margin: 0;
            list-style: none;
            text-align: center;
            background-color: transparent !important;
        }

        .slick-prev:before,
        .slick-next:before {
            font-family: 'slick';
            font-size: 20px;
            line-height: 1;
            opacity: .75;
            color: transparent !important;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        #covid-callout {
            max-width: 100%;
            position: center;
        }

        .marquee {
            font-size: 25px;
            width: 100%;
            line-height: 100px;
            background-color: #c9e9ed;
            ;
            color: black;
            white-space: nowrap;
            overflow: hidden;
            box-sizing: border-box;
        }

            .marquee p {
                display: inline-block;
                padding-left: 100%;
                animation: marquee 40s linear infinite;
            }

        @keyframes marquee {
            0% {
                transform: translate(0, 0);
            }

            100% {
                transform: translate(-100%, 0);
            }
        }
    </style>
</head>

<body>
    <script>
        $(function () {
            $("#header").load("/INNOVATIONECOSYSTEM/partials/header.html");
            $("#footer").load("/INNOVATIONECOSYSTEM/partials/footer.html");
        });
    </script>

    <div id="header"></div>

    <main id="main-content" role="main">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <section class="usa-section small-padding padding-bottom-3 padding-top-0 text-dark"
                 style="background-color: #dfe5e8 !important;">
            <div class="text-center padding-0 margin-0">
                <img src="/innovationecosystem/assets/images/IEX/iex-2021/rebranding/iex-1.png" style="width: 100%;
                height: auto;" alt="VHA-iEX_Website_Header-banner">
            </div>
          <div class=" padding-0 padding-top-0 margin-top-0 padding-bottom-3 oneshadow text-center" style="width: 100% !important; height: 50px; background-color:#E9695F">
            <a class="btn-me-iex text-white" href=https://vhaie.regfox.com/vha-innovation-experience-2022 style="position:relative; top:5px;">
                <h2 class="padding-0 margin-0"> REGISTER NOW <i class="text-white"> </i></h2>
            </a>
          </div>              
                
            <div class="grid-container padding-3 text-dark">
                <div class="grid-row grid-gap-4">
                    <div class="tablet:grid-col-12 text-left padding-top-1 ">
                        <h1 class="font-heading-xl padding-top-0 padding-bottom-0 "
                            style="text-align: left;color: #1e468e !important;">
                            VHA Innovation Experience
                        </h1>
                    </div>
                    <div class="tablet:grid-col-6 text-left  ">
                        <p class="font-body-md padding-top-3" style="font-size: 20px;
                        line-height: 1.7;
                        letter-spacing: .6px;">
                            The <strong>Veterans Health Administration (VHA) Innovation Experience (iEX) Annual</strong>
                            Conference provides Veterans and the public a unique opportunity to experience and celebrate how
                            VHA innovation, collaboration, and technology are breaking boundaries, forging the future of Veteran
                            health care, and most importantly, changing and saving Veteran lives.
                        </p>
                    </div>
                    <div class="tablet:grid-col-6 padding-top-2">
                        <iframe width="560" class="image-thumbnail oneshadow" height="315"
                                src=https://www.youtube.com/embed/YHGcY7uq_VM title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>

                    </div>
                    <div class="tablet:grid-col-12 padding-top-2">
                        <p class="font-body-md  " style="font-size: 20px;
                        line-height: 1.7;
                        letter-spacing: .6px;">
                            <br>
                            This year’s event promises to be even more exciting and engaging in the sharing of best practices,
                            networking, and discovering new ideas that are making a real difference in Veteran lives. Through
                            expert panels, interactive exhibits, and hallmark conference sessions, VHA iEX will allow participants
                            to interact with some of the Nation’s premier innovators and thought leaders from government, industry,
                            and academia who are transforming how the Department of Veterans Affairs (VA) thinks about, delivers,
                            and connects innovation to solving Veterans toughest challenges.
                        </p>

                    </div>
                </div>

            </div>
        </section>

        <!-- main boxes project  -->
        <section class=" padding-3 padding-top-5 " style="background-color: #e8ecf3; margin-top: 0 !important;
        background-image: linear-gradient(130deg , #174479 0%, #52c7d0 100%);">
            <!-- innovation forefront section -->
            <div class="grid-container ">
                <!-- second row include slide  -->
                <div class="grid-row grid-gap-2 margin-top-5">
                    <div class="tablet:grid-col-12">
                        <h2 class="font-heading-l text-white">
                            A Look Back at Past iEX Conferences
                        </h2>
                    </div>
                    <div class="tablet:grid-col-12 padding-top-3 text-white  margin-top-3"
                         style="font-size: 20px;line-height: 1.7; letter-spacing: .6px;">
                        <div class="grid-row tablet:grid-col-9">
                            <p>
                                iEX 2021 Breaking Boundaries: Forging a Healthier For All Veterans<br />
                            </p>
                            <div class="tablet:grid-col-6 margin-bottom-3">
                                <a class="usa-button radius-2 shadow text-light bg-primary-darker" 
                                          href="https://www.youtube.com/results?search_query=vha+iex+2021">Watch conference sessions here</a>
                            </div>
                            <div class="tablet:grid-col-6 margin-bottom-3">
                                <a class="usa-button radius-2 shadow text-light bg-primary-darker"
                                   href="/INNOVATIONECOSYSTEM/ASSETS/DOCUMENTS/IEX2021Agenda.pdf">Download the iEX 2021 Agenda</a>
                            </div>
                        </div>

                    </div>
                    <div class="tablet:grid-col-12 padding-top-3 text-white  margin-top-3"
                         style="font-size: 20px;line-height: 1.7; letter-spacing: .6px;">

                        <div class="grid-row tablet:grid-col-9">
                            <p class="tablet:grid-col-12">
                                iEX 2020 Delivering More, Together   <br />
                            </p>
                            <div class="tablet:grid-col-6 margin-bottom-3">
                                <a class="usa-button radius-2 shadow text-light bg-primary-darker" 
                                          href="https://www.youtube.com/results?search_query=vha+iex+2020">Watch conference sessions here</a>
                            </div>
                            <div class="tablet:grid-col-6 margin-bottom-3">
                                <a class="usa-button radius-2 shadow text-light bg-primary-darker"
                                   href="/INNOVATIONECOSYSTEM/ASSETS/DOCUMENTS/IEX2020Agenda.pdf">Download the iEX 2020 Agenda</a>
                            </div>
                        </div>
                    </div>
                    <!-- 111  -->
                </div>
            </div>
            <!-- first row include boxxes  -->
            <div class="grid-container ">
            </div>
        </section>
          <div class=" padding-0 padding-top-0 margin-top-0 padding-bottom-3 oneshadow text-center" style="width: 100% !important; height: 50px; background-color:#E9695F">
            <a class="btn-me-iex text-white" href=https://vhaie.regfox.com/vha-innovation-experience-2022 style="position:relative; top:5px;">
                <h2 class="padding-0 margin-0"> REGISTER NOW <i class="text-white"> </i></h2>
            </a>
          </div>  

    </main>
    <div id="footer"></div>
</body>

</html>