
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6"> <![endif]--><!--[if IE 7 ]> <html lang="en" class="ie7"> <![endif]--><!--[if IE 8 ]> <html lang="en" class="ie8"> <![endif]--><!--[if IE 9 ]> <html lang="en" class="ie9"> <![endif]--><!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>


    <title>VHA Innovation Ecosystem - VHA Innovation Ecosystem Team</title>
    <meta name="description"
          content="VHA Innovation Ecosystem Team is the catalyst and driving force that enables the discovery and spread of health care innovations within the Veterans Health Administration">
    <meta name="keywords" content="">


    <!-- High Level meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cache-control" content="no-cache, must-revalidate, post-check=0, pre-check=0" />
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?ver=true&amp;agency=VA"></script>
    <!-- Links -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/INNOVATIONECOSYSTEM/assets/uswds-2-0-3/css/uswds.css">
    <link rel="stylesheet" href="/INNOVATIONECOSYSTEM/assets/css/main.css">
    <!-- custom hero slider -->
    <link rel="stylesheet" href="/INNOVATIONECOSYSTEM/assets/css/slick.css">
    <link rel="stylesheet" href="/INNOVATIONECOSYSTEM/assets/css/slick-theme.css">
    <link rel="stylesheet" href="/INNOVATIONECOSYSTEM/assets/fontawesome-free-5-11-1-web/css/all.css">

    <!-- JS Scripts -->
    <script type="text/javascript" src="/INNOVATIONECOSYSTEM/assets/uswds-2-0-3/js/uswds.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- custom hero slider -->
    <script type="text/javascript" src="/INNOVATIONECOSYSTEM/assets/js/slick.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


    <style>
        .slick-dots {
            position: absolute;
            bottom: -25px;
            display: block;
            width: 100%;
            padding: 0;
            margin: 0;
            list-style: none;
            text-align: center;
            background-color: transparent !important;
        }

        .slick-prev:before,
        .slick-next:before {
            font-family: 'slick';
            font-size: 20px;
            line-height: 1;
            opacity: .75;
            color: transparent !important;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        #covid-callout {
            max-width: 100%;
            position: center;
        }

        .marquee {
            font-size: 25px;
            width: 100%;
            line-height: 100px;
            background-color: #c9e9ed;
            ;
            color: black;
            white-space: nowrap;
            overflow: hidden;
            box-sizing: border-box;
        }

            .marquee p {
                display: inline-block;
                padding-left: 100%;
                animation: marquee 40s linear infinite;
            }

        @keyframes marquee {
            0% {
                transform: translate(0, 0);
            }

            100% {
                transform: translate(-100%, 0);
            }
        }
    </style>



</head>

<body>
    <script>
        $(function () {
            $("#header").load("/INNOVATIONECOSYSTEM/partials/header.html");
            $("#footer").load("/INNOVATIONECOSYSTEM/partials/footer.html");
        });
    </script>

    <div id="header"></div>


    <main id="main-content" role="main">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->



        <section class="usa-section small-padding padding-bottom-3 padding-top-0 text-dark"
                 style="background-color: #dfe5e8 !important;">
            <div class="text-center padding-0 margin-0">
                <img src="/innovationecosystem/assets/images/IEX/iex-2021/rebranding/iex-1_old.png" style="width: 100%;
                height: auto;" alt="VHA-iEX_Website_Header-banner">
                <div class=" padding-2 oneshadow text-center" style="background:#1e478e">
                    <a class="btn-me-iex " href="https://vhaie.regfox.com/vhaiex2021" target="_blank"
                       style="background: #1e478e; color: white ;">
                        <h2 class="padding-0 margin-0"> REGISTER NOW <i class="far fa-play-circle text-white"> </i></h2>
                    </a>
                </div>
                <div class="marquee tablet:grid-col-12 oneshadow">
                    <p>
                        <strong> Thank you for joining us for iEX this year!</strong>
                        If you’re already registered and having any
                        issues, we’re here to help. During the hours of the event, there is <a target="_blank"
                                                                                               href=" https://socio.zoom.us/j/94901756059">
                            live support available
                            in the Help Room
                        </a>. If you need support outside of
                        event hours you can email the support team at <strong>
                            VAInnovation@atlasresearch.us
                        </strong> .
                    </p>
                </div>
            </div>
            <div class="grid-container padding-3 text-dark">

                <div class="grid-row grid-gap-4">
                    <div class="tablet:grid-col-12 text-left padding-top-1 ">
                        <h1 class="font-heading-xl padding-top-0 padding-bottom-0 "
                            style="text-align: left;color: #1e468e !important;">
                            VHA Innovation Experience
                        </h1>
                    </div>


                    <div class="tablet:grid-col-6 text-left  ">
                        <!-- <h3 class="font-heading-l padding-top-0 padding-bottom-0 text-white">What is the VHA Innovation
                            Experience (iEX)?
                            <br> </h3> -->

                        <p class="font-body-md padding-top-3" style="font-size: 20px;
                        line-height: 1.7;
                        letter-spacing: .6px;">
                            <strong> Thank you for joining us for iEX this year!</strong> <br>
                            If you’re already registered and having any
                            issues, we’re here to help. During the hours of the event, there is <a href=" https://socio.zoom.us/j/94901756059">
                                live support available
                                in the Help Room
                            </a>. If you need support outside of
                            event hours you can email the support team at <strong>
                                VAInnovation@atlasresearch.us.
                            </strong> <br><br>










                        </p>
                    </div>
                    <div class="tablet:grid-col-6 padding-top-2">
                        <iframe width="560" class="image-thumbnail oneshadow" height="315"
                                src="https://www.youtube.com/embed/YHGcY7uq_VM" title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        <!-- <img class="image-thumbnail oneshadow"
                            src="/assets/images/IEX/iex-2021/VHA-iEX_Website_Image_Registration.png"
                            alt="VHA-iEX_Website_Image_Registration"> -->

                    </div>
                    <div class="tablet:grid-col-12 padding-top-2">
                        <p class="font-body-md  " style="font-size: 20px;
                        line-height: 1.7;
                        letter-spacing: .6px;">
                            The <strong>
                                2021 Veterans Health Administration (VHA) Innovation Experience (iEX) Virtual
                                Series
                            </strong> provides Veterans and the public a unique opportunity to experience and
                            celebrate how
                            VHA innovation, collaboration, and technology are breaking boundaries, forging the future of
                            Veteran health care, and most importantly, changing and saving Veteran lives.
                            <br><br>



                            This year’s event promises to be even more exciting and engaging in the sharing of best
                            practices, networking, and discovering new ideas that are making a real difference in
                            Veteran lives. Through expert panels, a new pitch competition, and hallmark conference
                            sessions, the virtual series will allow participants to interact with some of the Nation’s
                            premier innovators and thought leaders from government, industry, and academia who are
                            transforming how the Department of Veterans Affairs (VA) thinks about, delivers, and
                            connects innovation to solving Veterans toughest challenges.

                        </p>

                    </div>
                </div>

            </div>
        </section>
        <!-- <section style="background-color: #e8ecf3;">
            <svg viewBox="0 0 422 20.98" preserveAspectRatio="none"
                style="background-color: #e8ecf3;margin-top:0;padding-top: 0;">

                <defs>
                </defs>

                <g>
                    <polygon class=" fl-shape" style="background-color: #e8ecf3;fill:#52c7d0" points="0,0 422,0 422,20">
                    </polygon>
                </g>
            </svg>
        </section> -->
        <!-- main boxes project  -->

        <section class=" padding-3 padding-top-5 " style="background-color: #e8ecf3;margin-top: 0 !important;
        background-image: linear-gradient(
                130deg , #174479 0%, #52c7d0 100%);">
            <!-- innovation forefront section -->


            <div class="grid-container ">




                <!-- second row include slide  -->
                <div class="grid-row grid-gap-2 margin-top-5 ">
                    <div class="tablet:grid-col-12 ">
                        <h2 class="font-heading-l text-white border-bottom">
                            Check Out This Year's iEX Marquee Event (Oct. 27-28)

                        </h2>

                    </div>
                    <div class="tablet:grid-col-12 padding-top-3 text-white  margin-top-3"
                         style="font-size: 20px;line-height: 1.7; letter-spacing: .6px;">
                        <p>
                            The fourth annual VHA Innovation Experience brings back everything attendees have come to
                            expect from one of the leading health care innovation events of the year, including the iEX
                            Talks, iEX Demos, and a revamped VHA Shark Tank Competition that will deliver live results
                            for boundary-breaking innovators from across the country.
                        </p>


                    </div>
                    <div class="grid-row grid-gap-2 padding-top-5 ">
                        <div class="tablet:grid-col">
                            <a href="/innovationecosystem/assets/images/IEX/iex-2021/iEX_Virtual-3.jpg" target="_blank">
                                <img src="/innovationecosystem/assets/images/IEX/iex-2021/iEX_Virtual-3.jpg" class="oneshadow "
                                     alt="iEX_Agenda_2021">

                            </a>





                        </div>
                    </div>
                    <!-- 111  -->
                    <div class="tablet:grid-col-12">
                        <div class="hero-section">
                            <div class="usa-hero-slider ">


                                <!-- <div class="usa-hero-slide hero-slide-fellows-one">
                                    <span role="img" aria-label="slide-11"></span>
                                    <div class="   margin-bottom-1 padding-top-0" id="slide-hero-container">
                                        <div class="usa-hero__callout  padding-0 " id="covid-callout">
                                            <a href="/#">
                                                <img class="oneshadow" style="width: 100%;
                                                height: auto;"
                                                    src="/innovationecosystem/assets/images/IEX/iex-2021/iEX_Sliders_Register.jpg"
                                                    alt="slide 1">
                                            </a>

                                        </div>
                                    </div>
                                </div> -->

                                <div class="usa-hero-slide hero-slide-fellows-two" id="slide-2">
                                    <span role="img" aria-label="slide-22"></span>
                                    <div class=" margin-bottom-1 padding-top-0" id="">
                                        <div class="usa-hero padding-0 " id="covid-callout">
                                            <a href="https://leaf.va.gov/NATIONAL/100/bob_jesse_award/">
                                                <img class="oneshadow"
                                                     src="/innovationecosystem/assets/images/IEX/iex-2021/rebranding/slide-1.png"
                                                     alt="slide 2">
                                            </a>

                                        </div>
                                    </div>

                                </div>
                                <div class="usa-hero-slide hero-slide-fellows-three padding-0" id="slide-3">
                                    <span role="img" aria-label="slide-33"></span>
                                    <div class="  margin-bottom-1 padding-top-0" id="slide-hero-container">
                                        <div class="usa-hero__callout  padding-0 " id="covid-callout">
                                            <a href="#">
                                                <img class="oneshadow"
                                                     src="/innovationecosystem/assets/images/IEX/iex-2021/rebranding/RC_Shark-Tank.jpg"
                                                     alt="slide 4">
                                            </a>

                                        </div>
                                    </div>

                                </div>

                                <div class="usa-hero-slide hero-slide-fellows-four padding-0" id="slide-3">
                                    <span role="img" aria-label="slide-33"></span>
                                    <div class="  margin-bottom-1 padding-top-0" id="slide-hero-container">
                                        <div class="usa-hero__callout  padding-0 " id="covid-callout">
                                            <a href="#">
                                                <img class="oneshadow"
                                                     src="/innovationecosystem/assets/images/IEX/iex-2021/rebranding/slide-3.png"
                                                     alt="slide 3">
                                            </a>

                                        </div>
                                    </div>

                                </div>


                                <div class="usa-hero-slide hero-slide-fellows-five padding-0" id="slide-3">
                                    <span role="img" aria-label="slide-33"></span>
                                    <div class="  margin-bottom-1 padding-top-0" id="slide-hero-container">
                                        <div class="usa-hero__callout  padding-0 " id="covid-callout">
                                            <a href="#">
                                                <img class="oneshadow"
                                                     src="/innovationecosystem/assets/images/IEX/iex-2021/rebranding/RC_iEX-Demos.png"
                                                     alt="slide 5">
                                            </a>

                                        </div>
                                    </div>

                                </div>


                            </div>
                        </div>

                    </div>




                </div>


            </div>

            <div class=" padding-2 oneshadow text-center" style="background:#1b468d;">
                <a class="btn-me-iex " href="https://vhaie.regfox.com/vhaiex2021" target="_blank"
                   style="background: #1e478e; color: white ;">
                    <h2 class="padding-0 margin-0"> REGISTER NOW <i class="far fa-play-circle text-white"> </i></h2>
                </a>
            </div>

            <!-- first row include boxxes  -->
            <div class="grid-container ">

            </div>
        </section>

        <!-- light blue section   VHA-iEX_Website_Banner_2020_v2-->

        <section class="  small-padding margin-bottom-3 margin-bottom-0 hero-standard hero-noimage hero-dark-background"
                 style="background: #e1f3f8;margin-top: 0 !important;padding-top: 50px !important; padding-bottom: 50px;">



            <div class="grid-container ">
                <div class="grid-row grid-gap-2 ">
                    <div class="tablet:grid-col-12 ">
                        <h1 class="font-heading-xl padding-top-0 padding-bottom-0 border-bottom" style="text-align: left;color: #1e468e !important;">
                            Check Out This Year’s Virtual iEX Lead-In Events
                        </h1>



                    </div>
                    <!-- 111  -->
                    <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1   box-me margin-top-2"
                         style="box-shadow: 0px 5px 6px -6px black;">
                        <div class="usa-card__container">


                            <div class="usa-card__media usa-card__media--inset">
                                <div class="usa-card__img  text-center">
                                    <img class="padding-2 height-15 padding-top-0"
                                         src="/innovationecosystem/assets/images/IEX/iex-2021/ICON_Partnership.png" alt="iEX icon">
                                </div>
                                <header class="usa-card__header padding-1 padding-top-0 padding-bottom-0">
                                    <h4 class="usa-card__heading  f15 margin-bottom-0 margin-top-0"
                                        style="color: #004b87;">

                                        <i class="fas fa-external-link-square-alt project-icon "
                                           style="font-size: 1rem!important;"></i>
                                        <strong class="line-height-sans-6">
                                            Breaking Boundaries Collaboration Challenge
                                        </strong>
                                    </h4>
                                </header>
                            </div>

                            <div class="usa-card__body padding-1 f14 ">
                                <p style="color:#1b1b1b; " class="text-center"><strong>August 26 – 27, 2021</strong></p>
                                <p style="color:#1b1b1b;font-size: 15px !important ">
                                    Hosted by VHA IE and Founder Institute on <strong>August 26-27, 2021</strong>, this
                                    event will
                                    feature a pitch competition in which innovators will have a chance to collaborate
                                    with the VA to advance their solution to the next stage of development.

                                </p>

                            </div>
                            <div class="text-center margin-top-3">
                                <a class="usa-button btn-me  shadowme a-work margin-bottom-1 margin-top-3 tablet:margin-bottom-3 oneshadow"
                                   href="/innovationecosystem/views/news-events/speakers.html" target="_blank">
                                    <small>
                                        Learn More
                                        »
                                    </small>
                                </a>
                            </div>

                        </div>

                    </div>


                    <!-- 222  -->
                    <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1   box-me margin-top-2"
                         style="box-shadow: 0px 5px 6px -6px black;">
                        <div class="usa-card__container">


                            <div class="usa-card__media usa-card__media--inset">
                                <div class="usa-card__img  text-center">
                                    <img class="padding-2 height-15 padding-top-0"
                                         src="/innovationecosystem/assets/images/IEX/iex-2021/ICON_Care.png" alt="iEX icon">
                                </div>
                                <header class="usa-card__header padding-1 padding-top-0 padding-bottom-0">
                                    <h4 class="usa-card__heading  f15 margin-bottom-0 margin-top-0"
                                        style="color: #004b87;">

                                        <i class="fas fa-external-link-square-alt project-icon "
                                           style="font-size: 1rem!important;"></i>
                                        <strong class="line-height-sans-6">
                                            Forging a Healthier Future: Post Pandemic
                                            Care
                                        </strong>
                                    </h4>
                                </header>
                            </div>

                            <div class="usa-card__body padding-1 f14 ">
                                <p style="color:#1b1b1b; " class="text-center">
                                    <strong>
                                        September 15, 2021
                                    </strong>
                                </p>
                                <p style="color:#1b1b1b;font-size: 15px !important ">
                                    COVID-19 has provided the opportunity to re-imagine a post-pandemic world in which
                                    we are all healthier — as individuals and entire populations. On <strong>
                                        September
                                        15, 2021
                                    </strong>,
                                    leaders within VA and industry have an in-depth conversation on what healthcare
                                    looks like in our new normal.

                                </p>

                            </div>
                            <div class="text-center ">

                                <a class="usa-button btn-me  shadowme a-work margin-bottom-1 margin-top-3 tablet:margin-bottom-3 oneshadow"
                                   href="/innovationecosystem/views/news-events/post-pandemic.html" target="_blank">
                                    <small>
                                        Learn More
                                        »
                                    </small>
                                </a>
                            </div>

                        </div>

                    </div>
                    <!-- 333 -->
                    <div class="tablet:grid-col  padding-top-1 bg-white margin-right-1   box-me margin-top-2"
                         style="box-shadow: 0px 5px 6px -6px black;">
                        <div class="usa-card__container">


                            <div class="usa-card__media usa-card__media--inset">
                                <div class="usa-card__img  text-center">
                                    <img class="padding-2 height-15 padding-top-0"
                                         src="/innovationecosystem/assets/images/IEX/iex-2021/ICON_Equity.png" alt="iEX icon">
                                </div>
                                <header class="usa-card__header padding-1 padding-top-0 padding-bottom-0">
                                    <h4 class="usa-card__heading  f15 margin-bottom-0 margin-top-0"
                                        style="color: #004b87;">

                                        <i class="fas fa-external-link-square-alt project-icon "
                                           style="font-size: 1rem!important;"></i>
                                        <strong class="line-height-sans-6">
                                            Breaking Boundaries: Using Innovation to
                                            Advance Health Equity
                                        </strong>
                                    </h4>
                                </header>
                            </div>

                            <div class="usa-card__body padding-1 f14 ">
                                <p style="color:#1b1b1b; " class="text-center"><strong>October 13, 2021</strong></p>
                                <p style="color:#1b1b1b;font-size: 15px !important ">
                                    Innovation can advance health equity and create the conditions in which everyone has
                                    an equal opportunity to live longer, healthier lives. On <strong>
                                        October 13,
                                        2021
                                    </strong>, hear from
                                    innovators who champion health equity by addressing inequalities in their community
                                    and within VA.

                                </p>

                            </div>
                            <div class="text-center text-white">
                                <a class="usa-button btn-me  shadowme a-work margin-bottom-1 margin-top-3 tablet:margin-bottom-3 oneshadow"
                                   href="/innovationecosystem/views/news-events/advance-health.html" target="_blank">
                                    <small>
                                        Learn More
                                        »
                                    </small>
                                </a>
                            </div>

                        </div>

                    </div>


                </div>
            </div>
            <!-- <div class="grid-row grid-gap-2">
                <div class="tablet:grid-col">
                    <a href="https://www.youtube.com/playlist?list=PLY7mRNUcQyMQiVAqgCcKzbOGJy2DoQs1d"
                        target="_blank">
                        <img src="/innovationecosystem/assets/images/IEX/iex-2021/VHA-iEX_Website_Banner_2020_v2.png" class="oneshadow"
                            alt="iex-2020 missed out-please check it out">

                    </a>

                </div>
            </div> -->
        </section>
    </main>
    <div id="footer"></div>
    <!-- <script type="text/javascript" src="/assets/js/slick.js"></script>   -->
</body>

</html>