<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6"> <![endif]--><!--[if IE 7 ]> <html lang="en" class="ie7"> <![endif]--><!--[if IE 8 ]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>


    <title>VHA Innovation Ecosystem</title>
    <meta name="description"
          content="VHA Innovation Ecosystem Team is the catalyst and driving force that enables the discovery and spread of health care innovations within the Veterans Health Administration">
    <meta name="keywords" content="">


    <!-- High Level meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cache-control" content="no-cache, must-revalidate, post-check=0, pre-check=0" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />


    <!-- Links -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.css">
    <link rel="stylesheet" href="/INNOVATIONECOSYSTEM/assets/uswds-2-0-3/css/uswds.css">
    <link rel="stylesheet" href="/INNOVATIONECOSYSTEM/assets/css/main.css">
    <link rel="stylesheet" href="/INNOVATIONECOSYSTEM/assets/fontawesome-free-5-11-1-web/css/all.css">

    <!-- JS Scripts -->
    <script type="text/javascript" src="/INNOVATIONECOSYSTEM/assets/uswds-2-0-3/js/uswds.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
    </script>
    <script>
        $(function () {
            $("#header").load("/INNOVATIONECOSYSTEM/partials/header.html");
            $("#footer").load("/INNOVATIONECOSYSTEM/partials/footer.html");
        });
    </script>
</head>



<body>

    <div id="header"></div>
    <main id="main-content" role="main">
        <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
        <!-- title section -->
        <section id="" class="grid-container usa-section padding-bottom-0" style=" padding-top: .5rem;">
            <div class="grid-container padding-left-0" style="text-align: left;">
                <div class="grid-row grid-gap-1">
                    <!-- <div class="tablet:grid-col-2">
                  <img src="/assets/images/icons/Icon_Innovators_B_r1.png"
                        alt=""  height="100px" width="100px">
                </div> -->
                    <div class="tablet:grid-col">
                        <h1 class="font-heading-3xl padding-bottom-0">
                            Resources & Publications 
                        </h1>
                    </div>
                </div>
            </div>
        </section>


        <section id="" class="usa-section small-padding">
            <div class="grid-container">
                <div class="grid-row grid-gap-4" style="text-align: center;">
                    <div class="tablet:grid-col-6 ">
                        <h1 class="font-heading-lg" style="text-align: left;">
                            <a href="/INNOVATIONECOSYSTEM/assets/documents/iNET Annual Report 2021 508 Final.pdf" target="_blank">
                                VHA iNET Annual Report 2021
                            </a>

                        </h1>
                        <p class="font-body-md" style="text-align: left;">
                            Another (pandemic) year in the books!" Yet throughout the year, iNET and VHA employees found ways not just to continue their work but adapt and change it to address the most pressing needs of Veterans as they shifted through this "new normal." The 2021 VHA Innovators Network Annual Report highlights this work and the multitude of new programs implemented throughout the year. We encourage you to explore the expansion and growth of iNET in the Spotlight on Programming and through efforts like the Greenhouse Initiative. Discover how 2021 was the year that cemented a repeatable cadence and structure for teaching the fundamentals of innovation to all VHA employees, and most importantly, learn about the innovators themselves.
                        </p><br>
                    </div>
                    <div class="tablet:grid-col-6 ">
                        <img class="image-thumbnail" src="/INNOVATIONECOSYSTEM/assets/images/HERO/iNETreportcover_2021.jpg" alt="2020 report">
                    </div>
                </div>
            </div>
        </section>

        <section id="" class="usa-section small-padding">
            <div class="grid-container">
                <a href="https://www.va.gov/innovationecosystem/assets/documents/SOI2021_FinalDraftHQ-compressed.pdf"> </a>
            </div>
            <div class="grid-container">
                <div class="grid-row grid-gap-4" style="text-align: center;">

                    <div class="tablet:grid-col-6 ">
                        <h1 class="font-heading-lg" style="text-align: left;">
                            <a href="/INNOVATIONECOSYSTEM/assets/documents/SOI2021_FinalDraftHQ-compressed.pdf" target="_blank">
                                VHA State of Innovation Report 2021
                            </a>

                        </h1>
                        <p class="font-body-md" style="text-align: left;">
                            The theme of this year's VHA State of Innovation report is Breaking Boundaries. To us, breaking boundaries is more than just challenging the status quo. It's shattering the status quo. In the context of VA healthcare, it's listening directly to Veterans and frontline providers in order to think differently, beyond the traditional healthcare constructs. It's convergence of this feedback and thinking with robust innovation ecosystem to drive revolutionary changes in healthcare culture, policy, process and technology. Breaking boundaries is how we move beyond the healthcare of today in order to deliver a new standard of care tomorrow. We hope you enjoy reading through this report and learning about the numerous examples of collaborations where VA is breaking boundaries in healthcare.
                        </p><br>
                    </div>
                    <div class="tablet:grid-col-6 ">
                        <img class="image-thumbnail" src="/INNOVATIONECOSYSTEM/assets/images/HERO/SOIreportcover_2021.jpg" alt="2020 report">

                    </div>
                </div>
            </div>
        </section>

        <section id="" class="usa-section small-padding">
            <div class="grid-container">
                <div class="grid-row grid-gap-4" style="text-align: center;">

                    <div class="tablet:grid-col-6 ">
                        <h1 class="font-heading-lg" style="text-align: left;">
                            <a href="/INNOVATIONECOSYSTEM/assets/documents/iNET_Report_2020_FINAL_508-Final.pdf" target="_blank">
                                VHA iNET Annual Report 2020
                            </a>

                        </h1>
                        <p class="font-body-md" style="text-align: left;">
                            2020 delivered a year like no other for the entire world. For health care providers,
                            including those at the Veterans Health Administration (VHA), new unparalleled challenges
                            arose nearly every day. For VHA Innovators Network (iNET), these circumstances meant
                            pivoting to find a way to fulfill their mission of empowering employees and fostering a
                            culture of innovation. Yet throughout the year, iNET and VHA employees found ways not just
                            to continue their work but adapt and change it to address the most pressing needs of
                            Veterans as they shifted throughout the ever-changing year. To discover more about how iNET
                            is changing the culture of VHA, dive into the iNET Annual Report, an engaging,
                            insightful, and quick look at how iNET runs and the kinds of practices, products, and
                            programs it supports. <br>
                            <a class="usa-button usa-button--outline tablet:margin-bottom-3 " target="_blank"
                               href="/INNOVATIONECOSYSTEM/assets/documents/iNET_Report_2020_FINAL_508-Final.pdf"
                               target="_blank">
                                <small>
                                    Learn more
                                    »
                                </small>
                            </a>
                        </p> <br>
                    </div>
                    <div class="tablet:grid-col-6 ">
                        <img class="image-thumbnail" src="/INNOVATIONECOSYSTEM/assets/images/HERO/iNETReportcover_2020.jpg" alt="2020 report">

                    </div>
                </div>
            </div>
        </section>
        <!-- introduction  -->
        <section id="" class="usa-section small-padding">
            <div class="grid-container">
                <div class="grid-row grid-gap-4" style="text-align: center;">

                    <div class="tablet:grid-col-6 ">
                        <h1 class="font-heading-lg" style="text-align: left;">
                            <a href="/INNOVATIONECOSYSTEM/assets/documents/SOI-2020-Website-508-v3.pdf" target="_blank"> VHA State of Innovation Report 2020</a>

                        </h1>
                        <p class="font-body-md" style="text-align: left;">
                            VHA has long embraced innovation, from the first implantable cardiac pacemaker in 1960 to
                            the recent exploration of clinical virtual reality (VR) applications and 3D bioprinting to
                            fabricate patient-matched, vascularized living bone. Through this report, you will learn
                            about innovation across VHA today, and the exciting ways gamechangers are adapting to meet
                            current and future challenges patients and their health care providers may face. We invite
                            you to celebrate the work our innovators have accomplished, especially their agility and
                            commitment in combatting COVID-19. We invite you to think about what else is possible when
                            we have the courage to learn quickly, fail quickly, and apply lessons learned to move
                            forward quickly. <br>
                            <a class="usa-button usa-button--outline tablet:margin-bottom-3 " target="_blank" href="/INNOVATIONECOSYSTEM/assets/documents/SOI-2020-Website-508-v3.pdf" target="_blank">
                                <small>
                                    Learn more
                                    »
                                </small>
                            </a>
                        </p> <br>
                    </div>
                    <div class="tablet:grid-col-6 ">
                        <img class="image-thumbnail" src="/INNOVATIONECOSYSTEM/assets/images/HERO/SOIreportcover_2020.jpg"
                             alt="Virtual Reality Care in Action">

                    </div>
                </div>
            </div>
        </section>




        <!-- dark section    -->
        <section id="">
            <div id="" class="grid-container  padding-3 padding-top-1">
                <hr>
                <h1 class="font-heading-lg" style="text-align: left;">
                    <a href="https://catalyst.nejm.org/doi/full/10.1056/CAT.20.0263" target="_blank">VHA Innovation Ecosystem: Operationalizing Innovation in Health Care</a>
                </h1>

                <div class="grid-row grid-gap">


                    <div class="tablet:grid-col-6  ">
                        <div class="grid-row grid-gap">
                            <div class="tablet:grid-col-12  ">
                                <p class="font-body-sm">
                                    New England Journal of Medicine Catalyst <br><br>

                                    By Ryan J. Vega, MD, MSHA & Kenneth W. Kizer, MD, MPH


                                </p><br>
                            </div>
                        </div>
                        <div class="grid-row grid-gap">
                            <div class="tablet:grid-col-12 ">
                                <p class="font-body-sm">
                                    Innovation has been widely advocated as the solution to U.S.
                                    health care’s rising costs and unsatisfying outcomes, and an abundance of innovative
                                    health care products and practices have been developed in recent years. Most have
                                    neither produced dramatic improvements in care nor spread at the pace and scale
                                    needed to transform care or materially bend the health care cost curve. The authors
                                    believe that health systems lack a model for operationalizing and scaling
                                    innovations, which must be built on a foundation capable of embracing meaningful
                                    changes, whether incremental or dramatic.
                                    <br>
                                    <a class="usa-button usa-button--outline tablet:margin-bottom-3 " target="_blank" href="https://catalyst.nejm.org/doi/full/10.1056/CAT.20.0263" target="_blank">
                                        <small>
                                            Learn more
                                            »
                                        </small>
                                    </a>
                                </p><br>
                            </div>
                        </div>


                    </div>
                    <div class="tablet:grid-col-6  ">
                        <p class="font-body-sm">
                            <div class="tablet:grid-col-12  ">
                                <img src="/INNOVATIONECOSYSTEM/assets/images/HERO/NEJMCatalyst_2020.jpg" class=" image-thumbnail"
                                     alt=" Virtual Reality Care in Action">
                            </div>

                        </p><br>
                    </div>
                </div>
        </section>
        <!-- 444  -->
        <section id="" class="usa-section small-padding">
            <div class="grid-container">
                <div class="grid-row grid-gap-4" style="text-align: center;">

                    <div class="tablet:grid-col-6 ">
                        <h1 class="font-heading-lg" style="text-align: left;">
                            <a href="https://www.va.gov/INNOVATIONECOSYSTEM/docs/report-2019.pdf" target=" _blank">
                                VHA
                                State of
                                Innovation Report 2019
                            </a>

                        </h1>
                        <p class="font-body-md" style="text-align: left;">
                            Did you ever imagine that your smartphone
                            would connect you to your health care provider, or
                            that you’d be able to track key health metrics on your wrist? For generations, innovation
                            has been a
                            conduit for imagining a new world, and in health care, redefining excellence. This sentiment
                            has long
                            permeated the Veterans Health Administration (VHA). Innovation enables us to execute our
                            mission
                            and deliver health care to Veterans in exceptional ways. Innovative VHA solutions like 3D
                            Printing are
                            improving the delivery of customized solutions to Veterans and enabling the exploration of
                            future
                            health care solutions like 3D bioprinting to generate living, vascularized tissue. <br>
                            So, how do we do it? The answer lies in creating a culture that harnesses a willingness to
                            experiment.
                            Innovation enables frontline staff to take calculated risks, fail early and smart, and
                            methodically test
                            assumptions. These principles create a culture of agility and team learning aligned with
                            VHA’s goal of
                            becoming a learning organization. By embracing this mindset, we’ve delivered landmark
                            solutions
                            such as the cardiac pacemaker in 1960s to 3D printed organ models for surgical planning
                            today.
                            Building solutions that meet unique Veteran challenges have not only redefined Veteran-care,
                            but
                            health care around the globe. It is precisely this ability to continually innovate that
                            allows VHA to
                            remain the preferred choice of Veterans.
                            <br>
                            <a class="usa-button usa-button--outline tablet:margin-bottom-3 "
                               href="https://www.va.gov/INNOVATIONECOSYSTEM/docs/report-2019.pdf"
                               target="_blank">
                                <small>
                                    Learn more
                                    »
                                </small>
                            </a>
                        </p> <br>
                    </div>
                    <div class="tablet:grid-col-6 ">
                        <img class="image-thumbnail" src="/INNOVATIONECOSYSTEM/assets/images/HERO/SOIReportcover_2019.jpg" alt="2019 report">

                    </div>
                </div>
            </div>
        </section>



        <!-- 555  -->
        <section id="" class="usa-section small-padding">
            <div class="grid-container">
                <div class="grid-row grid-gap-4" style="text-align: center;">

                    <div class="tablet:grid-col-6 ">
                        <h1 class="font-heading-lg" style="text-align: left;">
                            <a href="/INNOVATIONECOSYSTEM/assets/documents/iNET_Report_2019.pdf" target="_blank">
                                VHA iNET Annual Report
                                2019
                            </a>

                        </h1>
                        <p class="font-body-md" style="text-align: left;">
                            In 2019, iNET navigated through a year of
                            change and restructuring, during which we have evolved into a stronger, smarter, and more
                            confident organization. Stronger knowing that our Network is truly unique and valuable to
                            both Department of Veterans Affairs (VA) employees and Veterans. Smarter knowing that we
                            enable VHA’s workforce to change how they design solutions to solve problems. Confident
                            knowing that empowered employees lead to more thoughtfully designed solutions, which lead to
                            better outcomes for Veterans. Read more about how iNET grew in 2019 in our very first annual
                            report.
                            <br>
                            <a class="usa-button usa-button--outline tablet:margin-bottom-3 "
                               href="/INNOVATIONECOSYSTEM/assets/documents/iNET_Report_2019.pdf"
                               target="_blank">
                                <small>
                                    Learn more
                                    »
                                </small>
                            </a>
                        </p> <br>
                    </div>
                    <div class="tablet:grid-col-6 ">
                        <img class="image-thumbnail" src="/INNOVATIONECOSYSTEM/assets/images/HERO/iNETreportcover_2019.jpg" alt="2019 report">

                    </div>
                </div>
            </div>
        </section>


    </main>
    <div id="footer"></div>

    <script>
        var end = new Date('10/27/2020 12:00 pm');

        var _second = 1000;
        var _minute = _second * 60;
        var _hour = _minute * 60;
        var _day = _hour * 24;
        var timer;

        function showRemaining() {
            var now = new Date();
            var distance = end - now;
            if (distance < 0) {

                clearInterval(timer);
                document.getElementById('countdown').innerHTML = 'EXPIRED!';

                return;
            }
            var days = Math.floor(distance / _day);
            var hours = Math.floor((distance % _day) / _hour);
            var minutes = Math.floor((distance % _hour) / _minute);
            var seconds = Math.floor((distance % _minute) / _second);

            document.getElementById('countdown').innerHTML = days + '    ' + 'days' + '    ' + ' ,   ';
            document.getElementById('countdown').innerHTML += hours + '    ' + 'hrs ' + '    ' + '  ,  ';
            document.getElementById('countdown').innerHTML += minutes + '    ' + 'mins ' + '    ';

        }

        timer = setInterval(showRemaining, 1000);
    </script>
</body>



</html>